flasgger==0.9.7.1
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
inflection==0.5.1
installer==0.7.0
mysql-connector-python==9.1.0
poetry==1.8.4
poetry-core==1.9.1
poetry-dotenv-plugin==0.2.0
poetry-plugin-export==1.8.0
PyJWT==2.9.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
SQLAlchemy==2.0.36
sqlalchemy-orm==1.2.10
virtualenv==20.27.1
Werkzeug==3.0.6